*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*------------------------------------General------------------------------*/
header {
    background-color: rgba(165, 42, 42, 0.568);
    padding-bottom: 20px;
    padding-top: 15px;
    background-image: url(https://img.freepik.com/fotos-premium/concepto-cocina-ingredientes-cocinar_1220-5235.jpg?w=900);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(244, 235, 235, 0.4);
}


.logo{
    width: 120px;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}
.seccion_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_index{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.p_nav_index{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.a_index{
    text-decoration: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(125, 27, 27, 0.568);
    height: 150px;
}

footer p{
    color: white;
    font-weight: bold;
}
/*-------------------------------------------------body index---------------------------------*/

.menu {
    display: flex;
    flex-wrap:  wrap;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    

}

.menu img {
    
    margin: 20px;
    width: 450px;
    margin-top: 35px;
}

.plato{
   color:black;
   font-weight: bold;
   padding: 20px;
   color: white;
}
.dificultad{
    color: white;
    padding-right:auto;
    
}

.article_de_fotos{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 2px rgba(112, 128, 144, 1) solid;
}
.article_de_fotos img{
    border-radius: 120px;
}
.article_foto_plato{
    background-color: rgba(165, 42, 42, 0.568);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px ;
    padding-top: 0px;
    border-radius: 15px;
}

.seccion_form_index{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario_index{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 350px;
    padding: 15px;
    border-radius: 20px;
    background-color: beige;
}
.formulario_index_menos_que3{
    color: red;
    width: 95%;
    height: 10px;
    display: none;
    margin-top: 3px;

 
}
.input_boton_formulario_index{
    display: flex;
    align-items: center;
    justify-content:center
}
.boton_index_forms{
    margin-left: 10px;
    padding: 4px;
    background-color: rgba(165, 42, 42, 0.568);
    font-size: bold;
    color: white;
    border-radius: 10px;
    border-color: rgba(123, 25, 25, 0.568);
}


.seccion_boton_cargarmas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 120px;
}

.button_cargarmas{
    height:80%;
    width: 85%;
    border-radius: 20px ;
    background-color: rgba(165, 42, 42, 0.568);
    color: white;
    font-size: 20px;
}

/*--------------------------------------------------------login y registro-------------------------------------------------------*/

.bodylogin{
    justify-content: center;
    align-items: center;
    
}
.seccion_form_login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formslogin {
    background-color:rgba(188, 52, 31, 0.689);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 50px 750px;
    border:4px, solid, rgba(117, 34, 22, 0.689);
}

.botonlogin{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 57, 70);
    color: white;
}

.seccion_form_registro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.registrate{
    color: white;
}

.formslogin a{
    text-decoration: none;
    color: white;
}

.alert{
    background-color: red;
    color: white;
}

.terminos{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*-----------------------------------------------------recteas---------------------------------------------------*/

.seccion_detalles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.article_de_fotos_recetas_solo{
    width: auto;
    margin: 20px;
}
.imagen_recetas_sola{
    width: 350px;
    border-radius: 20px;
}
.plato_receta_solo{
    color: white;
}
.dificultad_receta_solo{
    color: white;
}
.articulo_titulo_dificultad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(165, 42, 42, 0.568);
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*----------------------------------------------------Categorias---------------------------------------------------*/
.picante{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}
.article_de_cada_categoria{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    background-color:rgba(165, 42, 42, 0.568);
    padding: 10px;
    border-radius: 13px;
    border:2px, solid, rgba(117, 34, 22, 0.689);
}
.cada_categoria{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/*----------------------------------------------------detalles de recetas-------------------------------------------*/
.main_detalles{
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px ;

}
.seccion_detalles_de_recetas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.article_detalles_receta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagen_receta_detalles{
    width: 500px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.detalles_titulo_tp_tc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: rgba(165, 42, 42, 0.568);
    padding: 15px;
    border-radius: 10px;
    color: white;
}
.detalles_titulo_solo{
    margin-bottom: 25px;
    font-size: 20px;
    background-color: rgba(165, 42, 42, 0.19);
    padding: 30px;
    border-radius: 15px;
    border:2px, solid, rgba(117, 34, 22, 0.689);
}
.a_detalles_categoria{
    text-decoration: none;
    color: white;
    
}
.instrucciones_de_detalle{
    background-color: rgba(165, 42, 42, 0.19);
    padding: 30px;
    border-radius: 15px;
    border:2px, solid, rgba(117, 34, 22, 0.689);
}
.titulo_instrucciones{
    margin-bottom: 8px;
    font-size: 20px;

}