*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*------------------------------------General------------------------------*/
header {
    background-color: rgba(165, 42, 42, 0.568);
    padding-bottom: 20px;
    padding-top: 15px;
    background-image: url(https://img.freepik.com/fotos-premium/concepto-cocina-ingredientes-cocinar_1220-5235.jpg?w=900);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(244, 235, 235, 0.4);
}


.logo{
    width: 120px;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}
.seccion_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_index{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.p_nav_index{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.a_index{
    text-decoration: none;
}
.footer_index{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(125, 27, 27, 0.568);
    height: 150px;
}

.p_footer_index{
    color: white;
    font-weight: bold;
}
/*-------------------------------------------------body index---------------------------------*/

.menu {
    display: flex;
    flex-wrap:  wrap;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    

}

.menu img {
    
    margin: 20px;
    width: 450px;
    margin-top: 35px;
}

.plato{
   color:black;
   font-weight: bold;
   background-color:rgba(165, 42, 42, 0.568);
   padding: 20px;
   color: white;
}
.dificultad{
    background-color:rgba(165, 42, 42, 0.568);
    padding: 20px;
    color: white;
    padding-right:auto;
    margin-bottom: 30px;
}

.article_de_fotos{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 2px rgba(112, 128, 144, 1) solid;
}
.article_de_fotos img{
    border-radius: 120px;
}


.seccion_form_index{
    display: flex;
    align-items: center;
    justify-content: center;

}

.formulario_index{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 350px;
    padding: 15px;
    border-radius: 20px;
    background-color: beige;
}

.boton_index_forms{
    margin-left: 10px;
    padding: 4px;
    background-color: rgba(165, 42, 42, 0.568);
    font-size: bold;
    color: white;
    border-radius: 10px;
    border-color: rgba(123, 25, 25, 0.568);
}


.seccion_boton_cargarmas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 120px;
}

.button_cargarmas{
    height:80%;
    width: 85%;
    border-radius: 20px ;
    background-color: rgba(165, 42, 42, 0.568);
    color: white;
    font-size: 20px;
}

/*--------------------------------------------------------login------------------------------------------*/

.formslogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    