/*------------------------------------General------------------------------*/

.logo{
    width: 150px;
    justify-content: center;
    border-radius: 50px;
}
.seccion_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_index{
    display: flex;
    justify-content: space-around;
}
.p_nav_index{
    color: black;
}
.a_index{
    text-decoration: none;
}
